*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    scroll-behavior: smooth;
    font-size: 20px;
    font-family: sans-serif;
    background: #d3d2d2;
}

/*divs*/
#radius{
    background: rgb(132, 0, 194);
    font-size: 16px;
    font-family: sans-serif;
    font-style: italic;
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-top: 10px;
 
}

#radius div{
    background: #d3d2d2;
    width: 80%;
    height: auto;
    margin: auto;
    padding: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    font-weight: bold;
}

@media(max-width: 700px){
    #radius div{
        height: 50%;
        transition: 0.2s ease;
    }
    #radius{
        width: 80%;
        transition: 0.2s ease;
    }
   

}
@media(max-width: 700px){
    #radius div{
        height: 50%;
        transition: 0.2s ease;
    }
    #radius{
        width: 80%;
        transition: 0.2s ease;
    }
   
}

/*inputs*/

input{
    width: 8%;
    margin: auto;
   display: flex;
   
    padding: 5px;
   
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}
/*button*/
button{
    margin-bottom: 50px;
    margin-top: 25px;
    padding: 10px;
    text-align: center;
    width: 10%;
    font-size: 16px;
    background: #8919d3;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
button:hover{
    background: #5900ac;
}
@media(min-width:360px){
    button{
        width: 30%;
    }
}
/*cor do reesultado*/

#resOne{
    color: rgb(0, 0, 0);
}